<app-toast [message]="toast.message"></app-toast>

<div class="card col-sm-8 col-sm-offset-2">
  <div class="card-block">
    <form [formGroup]="loginForm" (ngSubmit)="login()" class="form-horizontal">
      <div class="form-group">
        <label for="phone" class="col-sm-4 control-label">Phone</label>

        <div class="col-sm-8" [ngClass]="setClassPhone()">
          <input class="form-control" type="tel" name="phone" formControlName="phone" placeholder="Phone">

          <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="alert alert-danger">
            <div *ngIf="phone.errors.required">
              Phone is required.
            </div>

            <div *ngIf="phone.errors.minlength">
              Phone must be at least 11 characters long.
            </div>

            <div *ngIf="phone.errors.maxlength">
              Phone can not be longer than 12 characters.
            </div>

            <div *ngIf="phone.errors.pattern">
              Phone must contains only numbers or '+'
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="password" class="col-sm-4 control-label">Password</label>

        <div class="col-sm-8" [ngClass]="setClassPassword()">
          <input class="form-control" type="password" name="password" formControlName="password" placeholder="Password">

          <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
            <div *ngIf="password.errors.required">
              Password is required.
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="remember" formControlName="remember"> Remember me
            </label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12 text-center">
          <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid"><i class="fa fa-sign-in"></i> Login</button>
        </div>
      </div>
    </form>
  </div>
</div>
