<div class="col-sm-8">
  <div *ngIf="type == 'vertical'">
    <div class="row form-group">
      <div class="col-sm-3">
        First name:
      </div>

      <div class="col-sm-9">
        {{user.firstName}}
      </div>
    </div>

    <div class="row form-group">
      <div class="col-sm-3">
        Last name:
      </div>

      <div class="col-sm-9">
        {{user.lastName}}
      </div>
    </div>

    <div class="row form-group">
      <div class="col-sm-3">
        Email:
      </div>

      <div class="col-sm-9">
        {{user.email}}
      </div>
    </div>

    <div class="row form-group">
      <div class="col-sm-3">
        Phone:
      </div>

      <div class="col-sm-9">
        {{user.phone}}
      </div>
    </div>

    <div class="row form-group">
      <div class="col-sm-3">
        Date of Birth:
      </div>

      <div class="col-sm-9">
        {{user.dob | date:'d.M.y'}}
      </div>
    </div>

    <div class="row form-group">
      <div class="col-sm-3">
        City:
      </div>

      <div class="col-sm-9">
        {{user.city}}
      </div>
    </div>
  </div>

  <div *ngIf="type == 'horizontal'">
    <div class="row form-group">
      <div class="col-sm-6">
        First name:
        <br>
        {{user.firstName}}
      </div>

      <div class="col-sm-6">
        Last name:
        <br>
        {{user.lastName}}
      </div>
    </div>

    <div class="row form-group">
      <div class="col-sm-6">
        City:
        <br>
        {{user.city}}
      </div>

      <div class="col-sm-6">
        Email:
        <br>
        {{user.email}}
      </div>
    </div>

    <div class="row form-group">
      <div class="col-sm-6">
        Phone:
        <br>
        {{user.phone}}
      </div>

      <div class="col-sm-6">
        Date of Birth:
        <br>
        {{user.dob | date:'d.M.y'}}
      </div>
    </div>

    <div class="row form-group text-right">
      <a routerLink="/profile/edit" class="btn btn-primary">Edit profile</a>
    </div>
  </div>
</div>
