<div class="col-sm-8">
  <div class="col-sm-4">
    <ul class="contacts-list">
      <li
        [class.selected]="contact === selectedContact"
        *ngFor="let contact of contacts"
        class="link"
        (click)="selectContact(contact)">
        {{contact.fullName}}
      </li>
    </ul>
  </div>

  <app-detail *ngIf="selectedContact" [user]="selectedContact" [type]="'vertical'"></app-detail>
</div>
