.contacts-list {
  list-style-type: none;
  padding-left: 0;

  li {
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    color: #337ab7;

    &:hover {
      background-color: #bababa;
    }

    &.selected {
      background-color: #337ab7;
      color: #fff;
    }
  }
}
