<div class="card col-sm-8">
  <div class="card-block">
    <form (ngSubmit)="search()" class="form-horizontal">
      <div class="input-group">
        <input
          [(ngModel)]="query"
          [ngModelOptions]="{standalone: true}"
          type="text"
          class="form-control"
          placeholder="Search for...">

        <span class="input-group-btn">
          <button class="btn btn-default" type="submit">Search</button>
        </span>
      </div>
    </form>
  </div>

  <div class="users-list">
    <div *ngFor="let user of users">
      <div class="user-item row">
        <a [routerLink]="['/contacts', user._id]">{{user.fullName}}, {{user.city}}</a>
        <button (click)="addContact(user)">Add to contacts</button>
    </div>
  </div>
</div>
