<app-toast [message]="toast.message"></app-toast>

<div class="card col-sm-8 col-sm-offset-2">
  <div class="card-block">
    <form [formGroup]="signupForm" (ngSubmit)="register()" class="form-horizontal">
      <div class="form-group">
        <label for="phone" class="col-sm-4 control-label">Phone</label>

        <div class="col-sm-8" [ngClass]="setClassPhone()">
          <input class="form-control" type="tel" name="phone" formControlName="phone" placeholder="Phone">

          <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="alert alert-danger">
            <div *ngIf="phone.errors.required">
              Phone is required.
            </div>

            <div *ngIf="phone.errors.minlength">
              Phone must be at least 11 characters long.
            </div>

            <div *ngIf="phone.errors.maxlength">
              Phone can not be longer than 12 characters.
            </div>

            <div *ngIf="phone.errors.pattern">
              Phone must contains only numbers or '+'
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="password" class="col-sm-4 control-label">Password</label>

        <div class="col-sm-8" [ngClass]="setClassPassword()">
          <input class="form-control" type="password" name="password" formControlName="password" placeholder="Password">

          <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
            <div *ngIf="password.errors.required">
              Password is required.
            </div>

            <div *ngIf="password.errors.minlength">
              Password must be at least 6 characters long.
            </div>

            <div *ngIf="password.errors.confirmation">
              Password and password confirmation must be equal.
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="passwordConfirmation" class="col-sm-4 control-label">Password confirmation</label>

        <div class="col-sm-8" [ngClass]="setClassPasswordConfirmation()">
          <input
            class="form-control"
            type="password"
            name="passwordConfirmation"
            formControlName="passwordConfirmation"
            placeholder="Password confirmation">

          <div *ngIf="passwordConfirmation.invalid && (passwordConfirmation.dirty || passwordConfirmation.touched)" class="alert alert-danger">
            <div *ngIf="passwordConfirmation.errors.required">
              Password confirmation is required.
            </div>

            <div *ngIf="passwordConfirmation.errors.confirmation">
              Password and password confirmation must be equal.
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12 text-center">
          <button class="btn btn-primary" type="submit" [disabled]="!signupForm.valid"><i class="fa fa-user-plus"></i> Sign Up</button>
        </div>
      </div>
    </form>
  </div>
</div>
