<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/" itemprop="name">Test app</a>
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right" *ngIf="!authService.loggedIn">
        <li routerLinkActive="active"><a class="nav-item nav-link" routerLink="/auth/signup">Sign Up</a></li>
        <li routerLinkActive="active"><a class="nav-item nav-link" routerLink="/auth/login">Login</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" *ngIf="authService.loggedIn">
        <li><p class="navbar-text">Welcome, {{authService.currentUser.fullName}}</p></li>
        <li><a class="nav-item nav-link" href="#" (click)="authService.logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <h1 class="text-center">{{pageTitle}}</h1>

  <div *ngIf="authService.loggedIn" class="col-sm-4">
    <ul class="nav nav-pills nav-stacked">
      <li routerLinkActive="active">
        <a class="nav-item nav-link" routerLink="/about">About me</a>
      </li>
      <li routerLinkActive="active">
        <a class="nav-item nav-link" routerLink="/profile">Profile</a>
      </li>
      <li routerLinkActive="active">
        <a class="nav-item nav-link" routerLink="/contacts">Contacts</a>
      </li>
      <li routerLinkActive="active">
         <a class="nav-item nav-link" routerLink="/search">Search Friends</a>
      </li>
    </ul>
  </div>

  <router-outlet></router-outlet>
</div>
