<div class="col-sm-8">
  <div class="row form-group">
    <div class="col-sm-6">
      <label for="firstName">First name</label>
      <input class="form-control" type="text" [(ngModel)]="user.firstName" id="firstName">
    </div>

    <div class="col-sm-6">
      <label for="lastName">Last name</label>
      <input class="form-control" type="text" [(ngModel)]="user.lastName" id="lastName">
    </div>
  </div>

  <div class="row form-group">
    <div class="col-sm-6">
      <label for="city">City</label>
      <input class="form-control" type="text" [(ngModel)]="user.city" id="city">
    </div>

    <div class="col-sm-6">
      <label for="email">Email</label>
      <input class="form-control" type="text" [(ngModel)]="user.email" id="email">
    </div>
  </div>

  <div class="row form-group">
    <div class="col-sm-6">
      <label for="phone">Phone</label>
      <input class="form-control" type="text" [(ngModel)]="user.phone" id="phone">
    </div>

    <div class="col-sm-6">
      <label for="dob">Date of Birth</label>

      <input
        class="form-control"
        type="text"
        [(ngModel)]="user.dob"
        [minDate]="minDate"
        bsDatepicker
        id="dob">
    </div>
  </div>

  <div class="row form-group text-right">
    <button class="btn btn-primary" (click)="updateUser()">Save changes</button>
    <button class="btn btn-default" (click)="back()">Cancel</button>
  </div>
</div>
